[submodule "bundle/jq"]
	path = bundle/jq
	url = https://github.com/vito-c/jq.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vipsql"]
	path = bundle/vipsql
	url = https://github.com/martingms/vipsql
[submodule "bundle/vim-enhanced-diff"]
	path = bundle/vim-enhanced-diff
	url = https://github.com/chrisbra/vim-diff-enhanced.git
